:root {
  --lighter-color: #00000093;
  --lightest-color: #00000065;
}

.motor-card-cont {
  width: calc(100% - 20px);
  padding: 10px 0 10px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.motor-card-cont img {
  width: calc(100% - 10px);
  margin-left: 5px;
  object-fit: cover;
  object-fit: contain;
}

.motor-card-name {
  font-size: 16px;
  font-weight: 700;
  margin-top: 1rem;
}

.motor-card-break {
  font-size: 22px;
  line-height: 0.7;
  margin: -0.5rem 0 0.5rem 0;
  color: var(--lighter-color);
}

.motor-desc {
  font-size: 14px;
  color: var(--lighter-color);
}

.motor-media-links {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.motor-media-links a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightest-color);
  border: 1px var(--lightest-color) solid;
  border-radius: 50%;
  font-size: 14px;
}

.motor-media-links a:hover {
  color: var(--lightest-color);
}
